body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-image: url(../img/bg.jpg);

}

/* Navigasi */

.navigasi {
    height: 46px;
    ;
}

.navigasi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navigasi li {
    float: left;
}

.navigasi li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigasi li a:hover:not(.active) {
    background-color: #111;
}

.navigasi .active {
    background-color: #e41d1d;
}

/* End Navigasi */

a {
    text-decoration: none;
}

/* Main Hero */

.gambar_utama {
    background-image: linear-gradient(rgba(185, 255, 243, 0.5), rgba(31, 12, 117, 0.5)),
        url(../img/main.png);
    height: 84%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.teks_gambar {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 40%;
    color: white;
}


/* End  Main Hero */

/* Blog */
.container {
    width: 900px;
    margin-left: 7%;
}

.contain1 {
    background-color: #333;
}
.path {
    font-weight: bold;
    margin-top: 2%;
}

.header .judul {
    font-weight: bold;
    font-size: 20pt;
    margin-top: 2%;
}

.header p {
    font-size: 18pt;
}

.header .date {
    font-size: 14pt;
}

.content {
    font-size: 14pt;
    line-height: 1.5;
}

.gambar_blog {
    width: 480px;
    height: 300px;
}

.judul_blog {
    font-size: 14pt;
}

.isi_blog {
    font-size: 12pt;
}

.oleh_blog {
    font-size: 12pt;
}

.tanggal_blog {
    font-size: 10pt;
}
.gambar_csgo {
    margin-top: 3%;
    height: 500px;
    background-image: url(../img/csgo1.jpg);
    background-size: cover;
}

.map_csgo {
    margin-top: 3%;
    height: 900px;
    background-image: url(../img/map_csgo.png);
    background-size: cover;
}

/* End Blog */

/* Footer */
.footer {
    width: auto;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12pt;
}

/* End Footer */